.App {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	background-image: url("https://i.pinimg.com/originals/51/81/a3/5181a33c0955dee17b6e5752c09b9a3c.jpg");
	background-size: cover;
}



.App footer p {
	font-size: 0.7em;
	margin: 0;
}