.App {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	background-image: url("https: //i.pinimg.com/originals/8b/41/70/8b41708d1005752f5c0efb657515e906.jpg");
	background-size: cover;
}



.App footer p {
	font-size: 0.7em;
	margin: 0;
	color: #fff;
}